<div class="column is-6">
    <div class="event-card card">
        <div class="card-content">
            <div class="columns is-vcentered">
                <div class="column is-2 has-text-centered">
                    <span class="icon is-large has-text-primary">
                        <i class="fa-solid {{ icon }} fa-2x"></i>
                    </span>
                </div>
                <div class="column is-5">
                    <h3 class="title is-4 has-text-white">{{ title }}</h3>
                </div>
                <div class="column is-5">
                    <div class="event-image">
                        <img src="{{ image_url }}" alt="{{ alt }}">
                    </div>
                </div>
            </div>
            <div class="content mt-4">
                <p class="has-text-white">{{ description }}</p>
                <a class="button is-primary mt-3">Más Información</a>
            </div>
        </div>
    </div>
</div>
