<div class="column is-6">
    <div class="event-card card">
        <div class="card-content">
            <div class="columns is-vcentered">
                <div class="column is-7">
                    <h3 class="title has-text-white">{{ evento_titulo }}</h3>
                </div>
                <div class="column is-5">
                    <div class="event-images">
                        <img src="{{ evento_imagen_url }}" 
                            alt="{{ evento_titulo }}">
                    </div>
                </div>
            </div>
            <div class="content mt-4">
                <p class="has-text-white">
                    {{ evento_descripcion }}
                </p>
            </div>
        </div>
    </div>
</div>