<div class="box-content mt-5">
    <section class="section">
        <div class="container">
            <h2 class="title is-2 has-text-primary">
                <i class="fa-solid fa-envelope mr-2"></i>Contacto
            </h2>
            <div class="box set-bg-light card">
                <p class="mb-3">
                    {{ contacto_mensaje }} ¡Contáctanos!
                </p>
                <ul>
                    <li><strong>Email:</strong> <a href="mailto:{{ contacto_email }}">{{ contacto_email }}</a></li>
                    <li><strong>Ubicación:</strong> UNAH-CORTÉS, San Pedro Sula, Honduras</li>
                    <li>{{ contacto_slogan }}</li>
                </ul>
            </div>
        </div>
    </section>
</div>