<div class="box-content mt-5">
    <div class="container">
        <div class="content">
            <div>
                <section class="mb-6">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header-title title is-3 has-background-primar p-3">
                                <i class="fas {{ icon }} mr-2"></i>{{ title }}
                            </h2>
                        </div>
                        <div class="card-content">
                            <article class="message is-primar">
                                <div class="message-body">
                                    {{ description }}
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>