<div class="column">
    <div class="volunteer-card box has-text-centered notification is-primary">
        <div class="logo-container mb-4">
            <div class="event-image">
                <img src="{{ logo_url }}" 
                        alt="{{ nombre }} Logo"
                        width="200" height="100">
            </div>
        </div>
        <h3 class="title is-4 has-text-white">{{ nombre }}</h3>
        <div class="volunteer-description has-text-white">
            <p>{{ eslogan }}</p>
            <a class="button is-light mt-3" href="{{ url }}">Unirse al cambio</a>
        </div>
    </div>
</div>